<% provide(:title, "Log in") %>

<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="group">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, class: 'input' %>
          </div>
          <div class="group">
            <%= f.label :password, class:"label" %>
            <%= f.password_field :password, class: 'input' %>
          </div>
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Keep me Signed in</span>
          <% end %>
          <div class="group">
            <input type="submit" class="button" value="Sign In">
          </div>
          <%= link_to "Signin with google", '/auth/google_oauth2', class:"btn btn-primary login-other google" %>
          <%= link_to "Signin with facebook", '/auth/facebook', class:"btn btn-primary login-other facebook"  %>
          <div class="hr"></div>
          <div class="foot-lnk">
            <%= link_to "(forgot password)", new_password_reset_path %>
          </div>
        <% end %>
			</div>
		</div>
	</div>
</div>