<div class="area-cmt" id="<%= comment.id %>">
  <div class="display-cmt">
    <%= link_to gravatar_for(comment.user, size: 38), comment.user %>
    <p>
      <%= link_to comment.user.name, comment.user %>
      <%= comment.body %>
    </p>
  </div>

  <div class="reaction-cmt">
    <a href="#">Like&nbsp</a>
    .
    <a href="#">&nbspReply&nbsp</a>
    .&nbsp
    <span class="time-cmt">
      <%= time_ago_in_words(comment.created_at) %> ago
    </span>

    <%# comment của chủ sở hữu được sửa %>
    <% if comment_of_user?(comment) %> 
        .&nbsp
      <%= link_to "Edit", edit_comment_path(comment), remote: true %>
    <% end %>
    
    <%# Chủ sỡ hữu của một post có quyền xóa cmt trong đó hoặc chủ sở hữu cmt được xóa comment %>
    <% if(comment_in_post_user?(comment) || comment_of_user?(comment)) %> 
      .&nbsp
      <%= link_to "Delete", comment, method: :delete, data: { confirm: "You sure delete ?" }, remote: true %>
    <% end %>
  </div>
</div>