<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

    <span style="display:flex;">
      <% if current_user != @user %>
        <%= link_to "Message", conversations_path(user_id: @user.id),remote: true, method: :post,
                          class: "btn btn-primary", role: "button" %>
      <% end %>
      
      <%= render 'follow_form' if logged_in? %>
    </span>

    <% if (current_user.following?(@user) && recept_request_addfriend?(@user)) || current_user?(@user) %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @microposts_final.any? %>
      <h3>Microposts (<%= @microposts_final.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts_final , {comment: @comment}%>
      </ol>
      <%= will_paginate @microposts_final %>
    <% end %>
  </div>
</div>