<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>Nice time for you</p>

<%= start_date = 1.week.ago.beginning_of_day%>
<%= end_date = Time.zone.now.end_of_day%>

<p>
Posts is posted this week : <%= @user.microposts.calculation_oneweek(start_date,end_date).count %>
</p>
<p>
Followers extra this week : <%= @user.followers.calculation_oneweek(start_date,end_date).count%>
</p>

