<li id="<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <span
    class="content"><%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>

  <hr>

  <div id="cmtpost<%= micropost.id %>">
    <% micropost.comment.discriminate_cmt_and_subcmt.last(5).reverse.each do |comment|%>
      <% if comment.comment_id.nil? %>
        <%= render comment %>
      <% end %>
    <% end %>
  </div>
  
  <% unless (micropost.comment.where(comment_id: nil).length <= 5 ) %>
    <%= link_to "Show comment", micropost_comments_path(micropost), remote: true, class: "btn-showcmt#{micropost.id}" %>
  <% end %>
  <%= render "comments/comment_form", {url_action: comments_path(micropost_id: micropost.id),
                                       method_controll: "POST",
                                       class_form_cmt: "typecmt #{micropost.id}",
                                       catagory_box_cmt: "box-comment" } %>
</li>

