<div id="footer">
  <div id="footer-head">
    <div id="footer-head-contact">
      <h3 class="footer-head-cap">Liên hệ</h3>
      <p>Địa chỉ : Học viện kỹ thuật quân sự 236 Hoàng quốc Việt, Bắc Từ Liêm ,  Hà Nội</p>
      <p>Điện thoại : 0382977766</p>
      <p>Email : nguyenthinh16011998@Gmail.com</p>
      <a href="https://www.instagram.com/thinhby/" target="blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/Thinhby" target="blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/" target="blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.tumblr.com/" target="blank"><i class="fab fa-tumblr"></i></a>
    </div>

    <div id="footer-head-link">
      <H3 class="footer-head-cap">ĐƯỜNG DẪN LIÊN KẾT</H3>
      <a href="https://www.facebook.com/Thinhby" target="blank">www.facebook.com</a>
      <hr>
      <a href="https://www.instagram.com/thinhby/" target="blank">www.instagram.com</a>
      <hr>
      <a href="http://mta.edu.vn/" target="blank">mta.edu.vn</a>
    </div>

    <div id="footer-head-img">
      <h3 class="footer-head-cap">ẢNH NỔI BẬT</h3>
      <%= image_tag "content-img/zachary-nelson-98Elr-LIvD8-unsplash.jpg" %>
      <%= image_tag "content-img/wes-hicks-4-EeTnaC1S4-unsplash.jpg" %>
      <%= image_tag "content-img/joanna-kosinska-LAaSoL0LrYs-unsplash.jpg" %>
      <%= image_tag "content-img/antoine-dautry-_zsL306fDck-unsplash.jpg" %>
      <%= image_tag "content-img/andrew-neel-cckf4TsHAuw-unsplash.jpg" %>
      <%= image_tag "content-img/providence-doucet-mE5MBZX5sko-unsplash.jpg" %>
    </div>
  </div>

  <div id="footer-end">
    <p id="footer-end-text"><i class="far fa-copyright"></i>2019 Boomerang, bản design được thực hiện bởi </p>
    <p id="footer-end-user">Nguyễn Thế Thịnh</p>
  </div>
</div>