<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Blog Site", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li style="margin-top: 2.5px;"><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li style="margin-top: 2.5px;"><%= link_to "Users", users_path %></li>
          <li class="dropdown" style="margin-top: 2.5px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-comment-dots" style="font-size: 22px;"></i>
              <% if @conversations.length != 0  %> 
                <span class="badge badge-light" id="sum-ib"><%= @conversations.length %></span>
              <% else %>
                <span class="badge badge-light" id="sum-ib">0</span>
              <% end %>
            </a>
            <ul class="dropdown-menu" id="conversations-group">
              <% @conversations.each do |conversations| %>
                <li id="ib<%= conversations.opposed_user(current_user).id %>">
                  <%= link_to "#{conversations.opposed_user(current_user).name}",
                              conversations_path(user_id: conversations.opposed_user(current_user)
                              ),remote: true, method: :post %>
                </li>
              <% end %>
            </ul>
          </li>
          <li style="margin-top: 2.5px;">
            <a><i class="fas fa-bell" style="font-size: 22px;"></i></a>
          </li>
          <li class="dropdown" style="margin-top: 2.5px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-user-circle" style="font-size: 22px;"></i>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li title= "Change your profile"><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li title= "Download your infor account"><%= link_to "Download CSV", download_infor_csv_path(format: :zip)%></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li style="margin-top: 2.5px;"><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>