<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag asset_path("favicon.jpg") %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true  %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

    <% if logged_in? %>

      <div class="notifications-box">
        <div class="alert alert-success alert-dismissible" id="notifications-alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <div class="text-notification">
            
          </div>
        </div>
      </div>

      <div class="area-chat">
        <ul id="conversations-list" style="display: flex;">
          <% @conversations.each do |conversation| %>
            <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <script>
      var elem_messages_list = document.getElementsByClassName('messages-list');
      for(let i=0; i < elem_messages_list.length; ++i){
        elem_messages_list[i].scrollTop = elem_messages_list[i].scrollHeight;
      }
    </script>
  </body>
</html>
